<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short-Term Rentals - IR Project 6</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>

</head>
<body x-data="listingsApp()">
    <div>
        <h1 class="title">AIR-bnb</h1>
    </div>

    <!-- Search and Filter Form -->
    <section class="form-container" id="container">
        <form method="get" action="/">
            <input type="text" name="search" placeholder="Search by title" value="{{ request.args.get('search', '') }}">
            <button class="search-button" type="submit"><i class="fas fa-search"></i> Search</button>
            
            <!-- Button to show the form -->
            <button class="move-button" type="button" onclick="showForm()">Advance options</button>
            <div class="filter-container">
                <label for="filter">Filter:</label>
                <select id="filter" name="filter">
                    <option value="price">Price</option>
                    <option value="max_guest">Max. Guest</option>
                    <option value="name">Name</option>
                </select>
                <button class="advanced-button" type="button" @click="clusterResults">Results Clustering</button>
            </div>
    
            <!-- Low, Medium, and High Value Inputs -->
            <div class="range-inputs">
                <label for="low">Low:</label>
                <input type="number" id="low" name="low" placeholder="Low value" min="0">
    
                <label for="medium">Medium:</label>
                <input type="number" id="medium" name="medium" placeholder="Medium value" min="0">
    
                <label for="high">High:</label>
                <input type="number" id="high" name="high" placeholder="High value" min="0">
            </div>
        </form>
    </section>

    <div class="bnb-grid" id="noGroup" x-show="!isClustered">
        {% for listing in listings %}
            <a href="{{ listing.url }}" class="bnb-card">
                <div class="bnb-content">
                    <img src="{{ listing.image }}" alt="{{ listing.title }}" class="bnb-image">
                    <h2>{{ listing.title }}</h2>
                    <p>Price: {{ listing.price }}</p>
                    <p>Location: {{ listing.location }}</p>
                </div>
            </a>
        {% else %}
            <p>No results found for "{{ search_query }}"</p>
        {% endfor %}
    </div>

    <div id="results" x-show="isClustered">
        <div class="bnb-grid" id="high-price">
            <h1>High Price</h1>
            <template x-for="listing in highPriceListings" :key="listing.url">
                <a :href="listing.url" class="bnb-card">
                    <div class="bnb-content">
                        <img :src="listing.image" :alt="listing.title" class="bnb-image">
                        <h2 x-text="listing.title"></h2>
                        <p x-text="'Price: ' + listing.price"></p>
                        <p x-text="'Location: ' + listing.location"></p>
                    </div>
                </a>
            </template>
        </div>
        <div class="bnb-grid" id="middle-price">
            <h2 id="subtitle">Middle Price</h2>
            <template x-for="listing in middlePriceListings" :key="listing.url">
                <a :href="listing.url" class="bnb-card">
                    <div class="bnb-content">
                        <img :src="listing.image" :alt="listing.title" class="bnb-image">
                        <h2 x-text="listing.title"></h2>
                        <p x-text="'Price: ' + listing.price"></p>
                        <p x-text="'Location: ' + listing.location"></p>
                    </div>
                </a>
            </template>
        </div>
        <div class="bnb-grid" id="low-price">
            <h2 id="subtitle">Low Price</h2>
            <template x-for="listing in lowPriceListings" :key="listing.url">
                <a :href="listing.url" class="bnb-card">
                    <div class="bnb-content">
                        <img :src="listing.image" :alt="listing.title" class="bnb-image">
                        <h2 x-text="listing.title"></h2>
                        <p x-text="'Price: ' + listing.price"></p>
                        <p x-text="'Location: ' + listing.location"></p>
                    </div>
                </a>
            </template>
        </div>
    </div>

    <script>
        function listingsApp() {
            return {
                isClustered: false,
                highPriceListings: [],
                middlePriceListings: [],
                lowPriceListings: [],
                extractNumericPrice(priceStr) {
                    const match = priceStr.match(/[\d,]+(?:\.\d+)?/);
                    return match ? parseFloat(match[0].replace(',', '')) : 0.0;
                },
                clusterResults() {
                    fetch('/api/listings')
                        .then(response => response.json())
                        .then(data => {
                            console.log('Fetched data:', data);
                            const listings = data.map(listing => ({
                                ...listing,
                                numericPrice: this.extractNumericPrice(listing.price)
                            }));

                            console.log('Processed listings with numeric prices:', listings);

                            listings.sort((a, b) => a.numericPrice - b.numericPrice);

                            const n = listings.length;
                            
                            const lowValue = document.getElementById("low").value;
                            const mediumValue = document.getElementById("medium").value;
                            const highValue = document.getElementById("high").value;

                            // Check if the input fields are not null or empty before updating the values
                            if (!highValue) {
                                this.highPriceListings = listings.slice(Math.floor(2 * n / 3));
                            } 

                            if (!mediumValue) {
                                this.middlePriceListings = listings.slice(Math.floor(n / 3), Math.floor(2 * n / 3));
                            } 

                            if (!lowValue) {
                                this.lowPriceListings = listings.slice(0, Math.floor(n / 3));
                            }

                            this.isClustered = true;
                        });
                }
            }
        }

    function showForm() {
        const form = document.querySelector('.filter-container');
        const range = document.querySelector('.range-inputs');
        form.classList.toggle('show');
        range.classList.toggle('show');
    }
    </script>
</body>
</html>