<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short-Term Rentals - IR Project 6</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
</head>
<body x-data="listingsApp()" x-init="init()">
    <div>
        <h1 class="title">Short-Term Rentals</h1>
    </div>

    <!-- Search and Filter Form -->
    <section class="form-container" id="container">
        <form method="get" action="/">
            <input type="text" name="search" placeholder="Search by title" value="{{ request.args.get('search', '') }}">
            <button class="search-button" type="submit"><i class="fas fa-search"></i> Search</button>
            
            <!-- Button to show the form -->
            <button class="move-button" type="button" @click="showForm">Advance options</button>
            <div class="filter-container">
                <label for="filter">Filter:</label>
                <select id="filter" name="filter">
                    <option value="price">Price</option>
                    <option value="max_guest">Max. Guest</option>
                    <option value="name">Name</option>
                </select>
                <button class="advanced-button" type="button" @click="clusterResults">Results Clustering</button>
            </div>
        </form>
    </section>

    <div class="bnb-grid" id="noGroup" x-show="!isClustered">
        <template x-for="listing in paginatedListings" :key="listing.url">
            <a :href="listing.url" class="bnb-card">
                <div class="bnb-content">
                    <img :src="listing.image" :alt="listing.title" class="bnb-image">
                    <h2 x-text="listing.title"></h2>
                    <p x-text="'Price: ' + listing.price"></p>
                    <p x-text="'Location: ' + listing.location"></p>
                </div>
            </a>
        </template>
    </div>

    <div id="results" x-show="isClustered">
        <div class="bnb-grid" id="high-price">
            <h2>High Value</h2>
            <template x-for="listing in highPriceListings" :key="listing.url">
                <a :href="listing.url" class="bnb-card">
                    <div class="bnb-content">
                        <img :src="listing.image" :alt="listing.title" class="bnb-image">
                        <h2 x-text="listing.title"></h2>
                        <p x-text="'Price: ' + listing.price"></p>
                        <p x-text="'Location: ' + listing.location"></p>
                    </div>
                </a>
            </template>
        </div>
        <div class="bnb-grid" id="middle-price">
            <h2>Middle Value</h2>
            <template x-for="listing in middlePriceListings" :key="listing.url">
                <a :href="listing.url" class="bnb-card">
                    <div class="bnb-content">
                        <img :src="listing.image" :alt="listing.title" class="bnb-image">
                        <h2 x-text="listing.title"></h2>
                        <p x-text="'Price: ' + listing.price"></p>
                        <p x-text="'Location: ' + listing.location"></p>
                    </div>
                </a>
            </template>
        </div>
        <div class="bnb-grid" id="low-price">
            <h2>Low Value</h2>
            <template x-for="listing in lowPriceListings" :key="listing.url">
                <a :href="listing.url" class="bnb-card">
                    <div class="bnb-content">
                        <img :src="listing.image" :alt="listing.title" class="bnb-image">
                        <h2 x-text="listing.title"></h2>
                        <p x-text="'Price: ' + listing.price"></p>
                        <p x-text="'Location: ' + listing.location"></p>
                    </div>
                </a>
            </template>
        </div>
    </div>

    <!-- Pagination Controls -->
    <div class="pagination" x-show="!isClustered">
        <button class = "move-button" @click="prevPage" :disabled="currentPage === 1">Previous</button>
        <span>Page <span x-text="currentPage"></span> of <span x-text="totalPages"></span></span>
        <button class = "move-button" @click="nextPage" :disabled="currentPage === totalPages">Next</button>
    </div>

    <script>
        function listingsApp() {
            return {
                searchQuery: '',
                filter: 'price',
                isClustered: false,
                showAdvancedOptions: false,
                listings: [],
                filteredListings: [],
                highPriceListings: [],
                middlePriceListings: [],
                lowPriceListings: [],
                currentPage: 1,
                itemsPerPage: 60,
                get paginatedListings() {
                    const start = (this.currentPage - 1) * this.itemsPerPage;
                    const end = start + this.itemsPerPage;
                    return this.filteredListings.slice(start, end);
                },
                initializeListings(data) {
                    this.listings = data.filter(listing => 
                        listing.price !== null &&
                        listing.price !== '' &&
                        listing.location !== null &&
                        listing.location !== '' &&
                        !this.isUnwantedTitle(listing.title)
                    );
                    
                    this.filteredListings = this.listings;
                },
                isUnwantedTitle(title) {
                if (!title) return true;
                const unwantedTitles = ['Careers', 'careers', 'Termsand Conditions', 'termsand conditions'];
                return unwantedTitles.some(unwanted => title.toLowerCase().includes(unwanted.toLowerCase()));
            },
                get totalPages() {
                    return Math.ceil(this.filteredListings.length / this.itemsPerPage);
                },
                extractNumericPrice(priceStr) {
                    const match = priceStr.match(/[\d,]+(?:\.\d+)?/);
                    return match ? parseFloat(match[0].replace(',', '')) : 0.0;
                },
                fetchListings() {
                    fetch('/api/listings')
                        .then(response => response.json())
                        .then(data => {
                            console.log('Fetched data:', data);
                            this.listings = data;
                            this.filteredListings = data;
                        });
                },
                searchListings() {
                    this.filteredListings = this.listings.filter(listing => 
                        listing.title.toLowerCase().includes(this.searchQuery.toLowerCase())
                    );
                    this.currentPage = 1; // Reset to first page after search
                },
                clusterResults() {
                this.isClustered = true;
                const validListings = this.filteredListings.filter(listing => 
                    listing.price !== null &&
                    listing.price !== '' &&
                    listing.location !== null &&
                    listing.location !== '' &&
                    !this.isUnwantedTitle(listing.title)
                );
                const listings = validListings.map(listing => ({
                    ...listing,
                    numericPrice: this.extractNumericPrice(listing.price)
                }));
                listings.sort((a, b) => a.numericPrice - b.numericPrice);

                const n = listings.length;
                this.highPriceListings = listings.slice(Math.floor(2 * n / 3), Math.floor(2 * n / 3) + 20);
                this.middlePriceListings = listings.slice(Math.floor(n / 3), Math.floor(n / 3) + 20);
                this.lowPriceListings = listings.slice(0, 20);
                },
                showForm() {
                    const form = document.querySelector('.filter-container');
                    const range = document.querySelector('.range-inputs');
                    form.classList.toggle('show');
                    range.classList.toggle('show');
                },
                prevPage() {
                    if (this.currentPage > 1) {
                        this.currentPage--;
                        this.scrollToGrid(); // Scroll to the grid
                    }
                },
                nextPage() {
                    if (this.currentPage < this.totalPages) {
                        this.currentPage++;
                        this.scrollToGrid(); // Scroll to the grid
                    }
                },
                scrollToGrid() {
                    const gridElement = document.querySelector('#noGroup');
                    if (gridElement) {
                        gridElement.scrollIntoView({ behavior: 'smooth', block: 'start' });
                    }
                },
                init() {
                    this.fetchListings();
                }
            }
        }
    </script>
</body>
</html>